*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
}
body{
    overflow: hidden;
}
@font-face {
    font-family: Poppins;
    src: url(../assets/fontes/Poppins/Poppins-Regular.ttf) format('truetype');
}
#div-fundo{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#fundo-esquerdo{
    width: 45%;
    background-color: #F9F9F9;
}
#fundo-direito{
    width: 55%;
    background-color: #7B21C1;
}
#div-fundo-roxo{
    width: 100%;
    height: 100vh;
    border-bottom-right-radius: 115px;
    background-color: #7B21C1;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(../assets/fundo-onSpot.svg);
    background-size: cover;
}
#vetor-database{
    width: 80%;
    animation: infinite;
    animation-direction: normal;
}
#div-fundo-branco{
    width: 100%;
    height: 100vh;
    background-color: #F9F9F9;
    border-top-left-radius: 115px;
    padding-top: 3%;
}
#div-mensagem{
    width: 150px;
    height: 30px;
    background-color: #7B21C1;
    border-radius: 10px 10px 10px 0;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    font-family: Poppins;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0%;
    background-image: url(../assets/fundo-btn-onspt.svg);

}
#div-mensagem h2{
    text-align: center;
}


#div-sessao-login{
    background-color: #f9f9f9;
    width: 50%;
    height: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    box-shadow: 1px 1px 30px 3px #666;
    padding-bottom: 5%;
    padding-top: 5%;
}

#div-logo_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#div-logo-texto h2{
    color: #171717;
    margin-bottom: 25px;
    font-size: 15px;
    text-align: center;
}
#formulario-login{
    width: 60%;
    flex-direction: column;
    margin: 2%;
}
.estiloform{
    border-bottom: 2px solid #7B21C1;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    outline: none;
}

#botao-acessar{
    width: 100px;
    height: 40px;
    border: 1px solid #5B08F6;
    margin-top: 35px;
    border-radius: 5px;
    color: #454545;
    background-color: #EFEFF5;
    outline: none;
}
#botao-acessar:hover{
    background-color: #7B21C1;
    color: #fff;
    border:1px solid #7B21C1;
    background-image: url(../assets/fundo-btn-onspt.svg);
    transition: 0.5s;
    outline: none;
}