*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
}
body{
    overflow: hidden;
}
@font-face {
    font-family: Poppins;
    src: url(../assets/fontes/Poppins/Poppins-Regular.ttf) format('truetype');
}
.div-fundo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url(../assets/fundo-cadastro.svg);
    background-size: cover;
}
.div-container-cadastro{
    width: 48%;
    height: 80%;
    background-color: #f9f9f9;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    margin: auto;
    box-shadow: 1px 1px 15px 3px #666;
}
#div-logo-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
#div-logo-texto h1{
    font-size: 35px;
    color: #7b21c1;
}
#div-logo-texto h3{
    font-size: 25px;
    font-weight: lighter;
}
#div-logo-texto img{
    width: 70px;
}
.div-sessao-cadastro{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
    margin-top: 2.5%;
}
.formulario-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.inputs-cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.estilo-form{
    border: 1px solid #050505;
    background-color: #f9f9f9;
    border-radius: 7px;
    outline: none;
    padding: 5px;
}
#btn-continuar{
    width: 40%;
    height: auto;
    margin: auto;
}

button{
    background-color: #f9f9f9;
    border-radius: 0 0 50px 0;
    border: none;
}

#btn-continuar{
    width: 50%;
    padding: 1%;
    border: 1px solid #f7f7f7;
    margin-top: 5%;
    border-radius: 50px;
    color: #fff;
    background-color: #7b21c1;
    outline: none;
    font-size: 20px;
}
#btn-continuar:hover{
    background-color: #f9f9f9;
    color: #7b21c1;
    border: 1px solid #7b21c1;
    transition: 0.7s;
    cursor: pointer;
    outline: none;
}