* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: gray;
}

header {
    background-image: url(./img/Rectangle\ 45\ copy.svg);
    background-size: cover;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

header .img-logo {
    width: 12%;
    padding: 5px;
}

.icone-logout {
    width: 22px;
    height: 22px;
}

header nav ul {
    list-style: none;

}

header nav ul a {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
    color: #fff;
}

header ul li:after{
    content: "";
	background-color: #ffffff;
	height: 3px;
	width: 0%;
	display: block;
	margin: 0 auto;
	transition: 0.3s;
}
nav ul li:hover::after {
	width: 100%;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

.div_main {
    width: 75%;
    height: 100%;
    background-color: white;
    justify-content: center;
    }
.btn_sala 
    {
    margin: 40px;
    }
.btn_sala, .ul_salas li button
    {
    background-color: white;
    color: #A64CEC;
    border: none;
    font-size: 20px;
    }
    .btn_sala:hover
        {
        text-decoration: underline;
        transition: 0.1s;
        }
    .div_salas
    {
    height: 500px;
    display: none;
    margin: auto;
    justify-content: center;
    }
.ul_salas
    {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    }
.ul_salas li
    {
    list-style: none;
    }
.ul_salas li button
    {
    font-size: 20px;
    }
.div-2 {
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.div_aviso
    {
    font-weight: bold;
    color: #A64CEC;
    height: 100px;
    }

.highcharts-figure{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.chart-container{
    width: 100%;
    height: 35%;
    margin: auto;
}
/* div_graficos */
/* .highcharts-figure .chart-container {
    width: 40px;
    height: 20px;
} */

.div_graficos {
    display: flex;
    justify-content: center;
}

.div_graficos canvas {
    max-width: 50%;
}

.highcharts-figure,
.highcharts-data-table table {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

@media (max-width: 600px) {

    .highcharts-figure,
    .highcharts-data-table table {
        width: 100%;
    }

    .highcharts-figure .chart-container {
        width: 300px;
        float: none;
        margin: 0 auto;
    }
}